.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table {

}
.table tr > * {
    padding: 0 10px;
}
.thead {
    padding: 0 0 100px 0;
}
.thead-id {
    width: 75px;
}
.thead-label {
    width: 500px;
}
.thead-context-unit {
    width: 150px;
}
.tbody {

}
.update-btn {
    transition: all;
    transition-duration: 0.2s;
    width: 75px;
    border-radius: .25rem;
    background-color: white;
    padding: 2px 2px 3px 2px;
    margin: 5px 0;
}
.update-btn:hover {
    background-color: black;
    color: white;
}

.input {
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
    background-color: aliceblue;
    padding: 5px 10px;
}
.input:disabled {
    color: black;
    background-color: darkgray;
}