.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    display: flex;
    flex-direction: column;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input {
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
    background-color: aliceblue;
    padding: 5px 10px;
}
.label {
    margin: 5px 0 2px 5px;
}
.update-btn {
    width: 75px;
    border-radius: .25rem;
    background-color: white;
    padding: 2px 2px 3px 2px;
    margin: 5px 0;
    transition: all;
    transition-duration: .2s;
}
.update-btn:hover {
    background-color: black;
    color: white;
}